* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
img {
  display: none;
}
#fullScreenBtn {
  position: absolute;
  padding: 1.5rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(228, 228, 228);
  border-radius: 1rem;
}
#restartBtn {
  display: none;
  position: absolute;
  padding: 0.8rem;
  color: white;
  background-color: rgb(12, 12, 12);
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  margin-top: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
